<div *ngIf="courseForm">
  <h2>Editar Curso</h2>
  <form [formGroup]="courseForm" (ngSubmit)="editarCurso()">

    <label>
      Nombre:
      <input formControlName="name" />
    </label>
    <div *ngIf="courseForm.get('name')?.invalid && courseForm.get('name')?.touched">
      Nombre es requerido, mínimo 2 caracteres. Solo letras.
    </div>

    <label>
      Descripción:
      <input formControlName="description" />
    </label>
    <div *ngIf="courseForm.get('description')?.invalid && courseForm.get('description')?.touched">
      La descripción es requerida, mínimo 10 caracteres.
    </div>

    <label>
      Duración:
      <input formControlName="duration" />
    </label>
    <div *ngIf="courseForm.get('duration')?.invalid && courseForm.get('duration')?.touched">
      La duración es requerida, mínimo 4 carácter.
    </div>

    <button type="submit" [disabled]="courseForm.invalid">Guardar</button>
  </form>
</div>
