<!-- Barra de Navegación-->
<div [style.display]="navbarDisplay$ | async">
  <h2 appBoldtitle>Acciones</h2>
  <ul class="nav flex-column">
    <li>
      <button [routerLink]="[routesPaths.ALUMNOS]" class="btn btn-dark my-1">Alumnos</button>
    </li>
    <li>
      <button [routerLink]="[routesPaths.CURSOS]" class="btn btn-warning">Cursos</button>
    </li>
    <li>
      <button [routerLink]="[routesPaths.INSCRIPCIONES]" class="btn btn-primary my-1">Inscripciones</button>
    </li>
  </ul>
</div>
